.gitignore
*.npy
*pptx
*.pyc
rrt/boost_minkowski_sum
rrt/CS685_McKerley_Project.bib
rrt/CS685_McKerley_Project.pdf
rrt/CS685_McKerley_Project.tex
rrt/README
rrt/__pycache__/
rrt/my_random_navigate.yaml
rrt/selected_env_num_rrt_nodes.ods
rrt/Allensville_grid.png
rrt/cluster_2224_32_arrow_using_L2_distance.jpg
rrt/cluster_2224_64_arrow_using_L2_distance.jpg
rrt/obs_Allensville_train/
rrt/obs_Allensville_train_with_diagnosis/
rrt/visualize_flag_points.jpg
rrt/visualize_poses_large.jpg
rrt/visualize_rrt_traj.jpg
rrt/visualize_rrt_traj_with_flag_points.jpg
rrt/JK_path_aug/
rrt/floor_map.png
rrt/topo_path_obs/
rrt/traj.png
visual_servoing/__pycache__/
visual_servoing/archived files/
visual_servoing/cnngeometric_pytorch-master/
visual_servoing/sample_image_pairs_test/
visual_servoing/sample_image_pairs_test_old/
visual_servoing/sample_image_pairs_test_longer_dist/
visual_servoing/sample_image_pairs_train/
visual_servoing/target_objects/
visual_servoing/test_IBVS/
visual_servoing/test_target_objects/
visual_servoing/util_visual_servoing.pyc
visual_servoing/vs_visualization.jpg
visual_servoing/weakalign-master/
vs_controller/archived files/
vs_controller/artifical_noise/
vs_controller/for_video/
vs_controller/optical_flow/
vs_controller/overlapping_area/
vs_controller/successful_runs_eighteenth_try_siamese.txt
vs_controller/successful_runs_nineteenth_try_corresMapCurrentView_goToPose_metric.txt
vs_controller/test_LBVS/
vs_controller/test_goToPose/
vs_controller/trained_controller/
vs_controller/trained_controller_vs_SL/
vs_controller/trained_dqn/
vs_controller/trained_dqn_short_range/
vs_controller/trained_vs_representation/
vs_controller/visualization_trained_rep/
vs_controller/visualization_trained_rep_per_step/
vs_controller/visualize_dqn/
vs_controller/visualize_dqn_objects/
vs_controller/visualize_heatmap.jpg
vs_controller/visualize_heatmap2.jpg
Arbitrator/
CVPR_workshop/
DDPG/
depth_estimation/
hand_manipulate/
joint_model/
keypointNet/
locoNet_pytorch/
reachability/
short_range_nav_comparison/
target_driven/
test_locomotion_network/
test_locomotion_network_with_goal_recognizor/
topological_map/
train_policy/
visual_memory_pytorch/
visualization/


